body.dark {
    background-color: #091830;
}
body.light {
    background-color:  #c3efef;
}
.navbar-main-2 .container-fluid .wrapper .logo-otr .logo-a .logo-img {
    width: 220px;
}
.overlay-content .modal-content-inr .logo-main .logo-otr .logo-a .logo-img {
    width: 201px;
}

.footer-main .container-fluid .row-custom .col-subscribe-otr .col-subscribe-inr {
    padding: 0 0 0 2px;
}
.footer-main .container-fluid .row-custom .col-subscribe-otr .col-subscribe-inr .email-otr {
    margin: 26px 0 8px 0;
}
.footer-main {
    padding: 50px 0;
}
.contact-main {
    overflow: hidden;
    position: relative;
    margin: 0 0;
    padding: 50px 0;
    background: linear-gradient(
                    252.07deg, rgba(1, 156, 234, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
}

.contact-main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/footer-bg-img.png);
    top: 0;
    left: 0;
    opacity: 0.6;
}
.contact-main .container-fluid .row-contact {
    position: relative;
    z-index: 2;
}


.navbar-main-2 .container-fluid .wrapper .action-nav .burger-icon-otrr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: rgb(22 36 59);
    cursor: pointer;
    margin-right: 5px;
}

.navbar-main-2 .container-fluid .wrapper .action-nav .burger-icon-otrr .burger-icon {
    font-size: 24px;
    color: #FFFFFF;
}

.overlay-content {
    z-index: 2000;
}

.dark-nav {
    background : #091830;
}
.light-nav {
    background : #d4f0f0;
}

.navbar-main-2.light-nav .container-fluid .wrapper .navigation-otr .navigation-inr .navigation-li .nav-a {
    color: #091830;
}

.navbar-main-2.light-nav .container-fluid .wrapper .action-nav .burger-icon-otr {
    background-color: #c3efef;
}

.navbar-main-2.light-nav .container-fluid .wrapper .action-nav .burger-icon-otrr {
    background-color: #c3efef;
}

.navbar-main-2.light-nav .container-fluid .wrapper .action-nav .burger-icon-otrr .burger-icon {
    color: #091830;
}
.navbar-main-2.light-nav .container-fluid .wrapper .action-nav .burger-icon-otr .burger-icon {
    color: #091830;
}

.navbar-main-2.light-nav .container-fluid .wrapper .navigation-otr .navigation-inr .navigation-li .nav-a:hover {
    color: #019DEA;
}

body.light .hero4-main .container-fluid .row-custom .col-content-otr .col-content-inr .tag {
    color: #091830 !important;
}

body.light .hero4-main .container-fluid .row-custom .col-content-otr .col-content-inr .heading {
    color: #091830 !important;
}

body.light a.btn-primary-1.btn-hero.heading-SB {
    background-color: #1b0854;
}

.about-main {
    margin: 50px 0;
}
.about-main .container .wrapper .desc {
    color: #c7c7c7;
}
body.light .about-main .container .wrapper .desc {
    color: #1b0154;
}
.about-main .container .wrapper .heading {
    margin: 24px 0 16px 0;
    color: #FFFFFF;
}

body.light .contact-main .container-fluid .row-contact .col-form-otr .col-form-inr .heading {
    color: #1b0154;
}

body.light .contact-main .container-fluid .row-contact .col-form-otr .col-form-inr .form-main .input-main .input-otr .input {
    background: #c3efef;
    color: #1b0154;
}
body.light .contact-main .container-fluid .row-contact .col-form-otr .col-form-inr .form-main .input-otr .textarea {
    background: #c3efef;
    color: #1b0154;
}
body.light .contact-main .container-fluid .row-contact .col-contact-otr .col-contact-inr {
    background-color: rgb(195 239 239);
}
body.light .contact-main .container-fluid .row-contact .col-contact-otr .col-contact-inr .social-icon .icon-ul .icon-li .icon-a {
    background-color: rgb(212 240 240);
}
body.light .contact-main .container-fluid .row-contact .col-contact-otr .col-contact-inr .contact-icon-otr .email-otr .icon-otr .icon-inr {
    background-color: rgb(212 240 240);
}
body.light .contact-main .container-fluid .row-contact .col-contact-otr .col-contact-inr .contact-icon-otr .email-otr .linkk {
    color: #1b0154;
}
body.light .copyright-main .container-fluid .wrapper .copy-right {
    color: #1b0154;
}
body.light .copyright-main .container-fluid .wrapper .linkk-otr .linkk-inr .linkk-page {
    color: #1b0154;
}
body.light .copyright-main .container-fluid .wrapper .linkk-otr .linkk-inr {
    color: #1b0154;
}
body.light .about-main .container .wrapper .heading {
    color: #1b0154;
}

.feature-main .container-fluid .row-custom .col-otr .col-inr .art-name {
    display: inline-flex;
    color: #FFFFFF;
    margin: 5px 0;
    transition: 0.3s;
}
.feature-main .container-fluid .row-custom .col-otr .col-inr .art-name:hover {
    color: #FFFFFF;
}
body.light .feature-main .container-fluid .row-custom .col-otr .col-inr .art-name {
    color: #1b0154;
}
body.light .feature-main .container-fluid .row-custom .col-otr .col-inr .art-name:hover {
    color: #1b0154;
}
body.light .feature-main .container-fluid .row-custom .col-otr .col-inr {
    background-color: rgb(155 195 196);
}

.feature-main .container-fluid .row-custom .col-otr .col-inr .cover-img-otr .cover-img#team {
    height: 250px;
}

@media (max-width: 991px) {
    .feature-main .container-fluid .row-custom .col-otr .col-inr .cover-img-otr .cover-img#team {
        height: 300px;
    }
}

body.light .contact-main .container-fluid .row-contact .col-contact-otr .col-contact-inr .social-icon .icon-ul .icon-li .icon-a:hover {
    background-color: #019DEA;
}

body.light .inner-header-main .container-fluid .wrapper .heading {
    color: #1b0759;
    margin: 0 0 16px 0;
}

.feature-main {
    margin: 100px 0;
    overflow: hidden;
}

 #heros {
        background-image: url('../img/landing-hero-img.jpg');
    }

    body.light .how-it-work-main .container-fluid .row-custom-main .tab-content .row-custom-inr .col-work-otr .col-work-inr .icon-otr .icon {
    font-size: 32px;
    color: #1b0154;
}

body.light .how-it-work-main .container-fluid .row-custom-main .tab-content .row-custom-inr .col-work-otr .col-work-inr .icon-otr {
    background-color: rgb(88, 143, 146);
}

body.light .how-it-work-main .container-fluid .row-custom-main .tab-content .row-custom-inr .col-work-otr .col-work-inr {
    background-color: rgb(157 195 196);
}

body.light .how-it-work-main .container-fluid .row-custom-main .tab-content .row-custom-inr .col-work-otr .col-work-inr .content .desc {
    color: #1b0253;
}

body.light .how-it-work-main .container-fluid .row-custom-main .tab-content .row-custom-inr .col-work-otr .col-work-inr .content .heading {
    color: #1b0254;
}

body.light .how-it-work-main .container-fluid .wrapper .tab-otr .heading {
    color: #1b0355;
}
.how-it-work-main {
    margin: 79px 0;
}
.how-it-work-main .container-fluid .wrapper {
    margin: 0px 0 10px 0;
}

.connect-wallet-main .container-fluid .row-custom .col-box-otr .col-box-inr .row-custom-inr .col-wallet-otr .col-wallet-inr .icon-otr {
    width: auto;
    height: 140px;
    border-radius: 12px;
    padding: 0 0 0 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.connect-wallet-main {
    margin: 80px 0;
}

.connect-wallet-main .container-fluid .wrapper {
    margin: 0 0 25px 0;
}

body.light .connect-wallet-main .container-fluid .row-custom .col-box-otr .col-box-inr .row-custom-inr .col-wallet-otr .col-wallet-inr {
    background-color: rgb(157 195 196);
}

body.light .connect-wallet-main .container-fluid .row-custom .col-box-otr .col-box-inr .row-custom-inr .col-wallet-otr .col-wallet-inr .icon-otr {
    background-color: rgb(191 237 240);
}

body.light .connect-wallet-main .container-fluid .wrapper .heading {
    color: #1b0355;
}
